<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mum.dancemotion">

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
            </intent-filter>
        </activity>
        <activity android:name=".DatenbankTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
            </intent-filter>
        </activity>
        <activity android:name=".MotionSensor"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CATEGORY.LAUNCHER">
                </action>
            </intent-filter>
        </activity>

    </application>

</manifest>
